html, body{
  background: #191d1d !important;
}

.content {
  color: #FAFAFA;
  background: #191d1d !important;
}

.footer-dark {
  background: #191d1d !important;
}

textarea{
  background-color: #272822;
  color: rgb(250,250,250);
  font-size: large;
  border-right: none !important;
  border-left: none !important;
  border-bottom: none !important;
}

.bs-placeholder, .dropdown-item, .bs-select-all, .bs-actionsbox, .bs-searchbox, .bs-placeholder, .dropdown-item, .bs-select-all, .bs-deselect-all, .dropdown-menu, .btn-light{
  background-color: #343a40;
  color: #f8f9fa !important;
  padding: 5px;
}

.dropdown-item:hover{
  color: rgb(36, 36, 30) !important;
}

.dropdown-item:active{
  color: #6c48ec !important;
}


.button {
  padding-top: 15px;
  width: 100% !important;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  /*display: inline-block;*/
}

.button-1 {
  background-color: transparent;
  border: 3px solid #785ae7;
  border-radius: 30px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .1s ease-in-out;
  color: white;
}

.glow-hover:hover{
  box-shadow: 0 0 10px 0 #4c2dbd inset, 0 0 15px 1px #4428a7;
  border: 3px solid #00d7c3;
}

/*.button-1:hover {
  
}*/

.button-1:active {
  background-color: rgba(103, 71, 218, 0.26);
}


.disabled-button{
  border: 3px solid #2e2e2e;
  color: #2e2e2e;
  cursor: default;
}

.disabled-button:hover {
  box-shadow: 0px inset, 0px !important;
  background-color: transparent;
  border: 3px solid #2e2e2e;
}

.disabled-button:active {
  background-color: transparent;
}

.glow{
  animation-name: glow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  /* animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715); */
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}


@keyframes glow {
  0% {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 5px rgba(82, 168, 236, 0.6);
  }  

 100% {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 15px rgba(82, 168, 236, 1);
 }
}



@keyframes pulse {
  0% {
    transform: scale(0.2);
  }
  70% {
    transform: scale(.9);
  }
  100% {
    transform: scale(1);
  }
}

/* Gradient background */

/* body {
  background: linear-gradient(-45deg, rgb(0, 0, 0), #276464, #251e27, #581572);
  
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */

/* End Gradient background */

/* Waves background */

@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}

.waveWrapper {
  z-index: -1 !important;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(to bottom, #222727 20%, #191d1d 80%);
}

.bgTop {
  z-index: 1;
  opacity: 0.4;
}

.bgMiddle {
  z-index: 2;
  opacity: 0.5;
}

.bgBottom {
  z-index: 1;
}

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}

.waveTop {
  background-size: 50% 100px;
}

.waveAnimation .waveTop {
  animation: move-wave 3s;
  -webkit-animation: move-wave 3s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.waveMiddle {
  background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
  animation: move_wave 50s linear infinite;
}

.waveBottom {
  background-size: 50% 100px;
}

.waveAnimation .waveBottom {
  animation: move_wave 90s linear infinite;
}

/* End waves background */

/* Loading spinner */


#preloader {
  width: 100%;
  height: 100%;
}

#loader {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370DB;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 3;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #BA55D3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FF00FF;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* End loading spinner */

.control-panels{
  position: absolute;
    content:"";
    width: 100%;
    background: #EBEBEB;
    height: 100%;
    left:0;
    
}

#overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: #191d1d;
  opacity: .9;
  z-index:2;
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  padding-top: 30px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #222222;
  color: #FAFAFA;
  margin: auto;
  padding: 20px;
  border: 1px solid #FAFAFA;
  width: 80%;
  font-family: 'Lato', sans-serif;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: left;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
}

.help-button{
  color: #FAFAFA !important;
}

.language_button{
  width: 130px;
}
@media (max-width:768px) {
  .language_button{
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.text-sec{
  color: #b9b9b9 !important;
}

.jconfirm-box{
  background-color: #191d1d !important;
}

.jconfirm-title, .jconfirm-content{
  color: #FAFAFA !important;
}

.filter-option-inner-inner:hover{
  color: #191d1d !important;
}