*{
    --main-color: #191d1d;
    --secondary-color: #1FC173;
    --white-color: #FFFBFC;
    --fourth-color: #D6F8D6;
    --fifth-color: #F5F1ED;
    
}

.container-fluid{
    background: var(--main-color); /*var(--white-color)*/
    color: #FAFAFA;
}

.a_list {
    width: 300px;
    height: 100%;
    list-style-type: disc;
}
.a_list li {
    padding-left: 20px;
}


html, body {
  height: 100% !important;
}

.fill { 
  min-height: 100%;
  height: 100%;
  background-color: rgba(0, 255,255, 0) !important;
  
}

textarea{
  background-color: rgba(39, 40, 34, 0.8) !important;
  color: white !important;
}


@keyframes move_wave {
  0% {
      transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
      transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}
.waveWrapper {
  z-index:-1 !important;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(to top, rgb(44, 21, 53) 20%, #27273c 80%);
}
.bgTop {
  z-index: 1;
  opacity: 0.4;
}
.bgMiddle {
  z-index: 2;
  opacity: 0.5;
}
.bgBottom {
  z-index: 1;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
}
.waveAnimation .waveTop {
animation: move-wave 3s;
 -webkit-animation: move-wave 3s;
 -webkit-animation-delay: 1s;
 animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 50s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
}
.waveAnimation .waveBottom {
  animation: move_wave 90s linear infinite;
}