{% extends 'hcg_app/index.html' %}
{% load static %}

{% block content %}

<script>

    $(document).ready(function () {
        $("#sopen_session_button").click(function () { // start live session or send new code to one
            $("#loaded").hide();
            $.ajax({
                url: 'pepe',
                type: "POST",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    open_live_session: true,
                    fmin: $("#fmin").val(),
                    fmax: $("#fmax").val(),
                    amin: $("#amin").val(),
                    amax: $("#amax").val(),
                },
                dataType: 'json',
                complete: function (data) {
                    $("#codigo").append(data.responseJSON);
                    $("#loaded").show();
                }
            });

        });
        $("#close_session_button").click(function () {
            $.ajax({
                url: '',
                type: "POST",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    close_live_session: true,
                },
                dataType: 'json',
                complete: function (data) {
                }
            });

        });
    });
</script>
<p style="white-space:pre-wrap;" id="codigo"></p>
<!-- {% csrf_token %} -->

{% if code %}
{{code|linebreaks}}
{% endif %}




<form name="form1" action="" method="post">
    {% csrf_token %}
    <input name="fmin" id="fmin" placeholder="fmin">
    <input name="fmax" id="fmax" placeholder="fmax">
    <input name="amin" id="amin" placeholder="amin">
    <input name="amax" id="amax" placeholder="amax">

    <button name="osb" id="open_session_button">Go live</button>
    <div hidden id="loaded">Live loaded</div>
    <button type="submit" name='mybtn'>Enviar en form</button>
</form>

<form name="form2" action="" method="post">
    {% csrf_token %}
    
<button name="csb" id="close_session_button">CLOSE live</button>
</form>

{% endblock %}