{% extends 'hcg_app/index.html' %}
{% load static %}

{% block content %}


{% include 'hcg_app/help_modal.html' %}

<div class="container-fluid m-0 p-0 m-0 w-100">
    <nav class="navbar navbar-dark navbar-expand-md bg-dark">
        <img class="logo-icon logo" src="{% static 'hcg_app/images/logo-512.png' %}">
        <div class="container-fluid"><a class="navbar-brand navbar-title" data-toggle="tooltip" data-bs-tooltip=""
                data-placement="right" style="font-family: 'Noto Sans', sans-serif;"
                title="The art of randomness">Hydra Code Generator</a><button data-toggle="collapse"
                class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item text-secondary" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation">
                    </li>
                </ul>
                <div class="item social help-button m-0 p-0 ml-auto">
                    <a id="help_button" data-toggle="tooltip" data-bs-tooltip="" data-placement="right" title="Help">
                        <i class="icon ion-help"></i>
                    </a>
                </div>
            </div>


        </div>

    </nav>
    <div class="row content w-100 m-0 p-0 border-bottom">
        <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9 border-right m-0">
            <div class="row mt-2">
                <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2">
                    <div class="form-group"><label>Min Function&nbsp; Amount</label><input type="number" min="0" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            class="bg-dark form-control-sm w-75 form-control text-white" data-toggle="tooltip" maxlength="4"
                            data-bs-tooltip="" placeholder="Number" name="fmin" id="fmin" value="{{fmin}}"
                            title="The minimum amount of functions that can be generated"></div>
                    <div class="form-group"><label>Arrow Function Probability<br></label><input
                            class="bg-dark form-control-sm w-75 form-control text-white" type="number" min="0" max="100"
                            name="arrowprob" id="arrowprob" value="{{arrowprob}}" data-toggle="tooltip"
                            data-bs-tooltip="" placeholder="[0-100]" autocomplete="off"
                            title="The probability of generating an arrow function as an argument.<br>Ex.: &quot;() => Math.sin(time)&quot;"
                            data-html="true"></div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2">
                    <div class="form-group"><label>Max Function Amount<br></label><input oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            class="bg-dark form-control-sm w-75 form-control text-white" min="0" type="number" maxlength="4"
                            name="fmax" id="fmax" data-toggle="tooltip" data-bs-tooltip="" placeholder="Number"
                            title="The maximum amount of functions that can be generated" value="{{fmax}}"></div>
                    <div class="form-group"><label>Mouse Function Probability<br></label><input
                            class="bg-dark form-control-sm w-75 form-control text-white" type="number" min="0" max="100"
                            data-toggle="tooltip" data-bs-tooltip="" placeholder="[0-100]" name="mouseprob"
                            id="mouseprob" value="{{mouseprob}}"
                            title="The probability of generating a mouse arrow function as an argument.<br>Ex.: &quot;() => mouse.x&quot;"
                            data-html="true"></div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2">
                    <div class="form-group"><label>Min Argument Value</label><input
                            class="bg-dark form-control-sm w-75 form-control text-white" type="number" min="0"
                            name="amin" id="amin" data-toggle="tooltip" data-bs-tooltip="" placeholder="Number"
                            title="The smallest value that can be generated as an argument" value="{{amin}}"></div>
                    <div class="form-group"><label>Modulate Itself Probability<br></label><input
                            class="bg-dark form-control-sm w-75 form-control text-white" type="number" min="0" max="100"
                            data-toggle="tooltip" data-bs-tooltip="" placeholder="[0-100]" name="modulateitselfprob"
                            id="modulateitselfprob" value="{{modulateitselfprob}}"
                            title="The probability of passing &quot;o0&quot; as the first argument of any modulate function<br>Ex.: &quot;modulateScale(o0, 1)&quot;"
                            data-html="true"></div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2">
                    <div class="form-group"><label>Max Argument Value<br></label><input
                            class="bg-dark form-control-sm w-75 form-control text-white" min="0" type="number"
                            data-toggle="tooltip" data-bs-tooltip="" placeholder="Number" name="amax" id="amax"
                            title="The biggest value that can be generated as an argument" value="{{amax}}"></div>
                    <div class="form-group"><label style="opacity: 0.30;">Upcoming<br>Feature&nbsp;<br></label><input
                            class="bg-dark form-control-sm w-75 form-control" type="text" placeholder="-" disabled=""
                            style="filter: blur(0px);opacity: 0.30;"></div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2">
                    <div class="form-group mx-auto"><label data-toggle="tooltip" data-bs-tooltip=""
                            title="Generated code will only have these selected sources">Exclusive sources</label>
                        <div>
                            <select id="exclusivesources" class="w-100 selectpicker" multiple data-live-search="true"
                                data-size="10" data-actions-box="true" multiple title="Sources..." multiple
                                data-selected-text-format="count > 3">
                                {% for item in allsources%}
                                <option {% if item in defaultexclusivesources %} selected {% endif %}
                                    data-tokens="{{item}}">{{item}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group mt-4"><label data-toggle="tooltip" data-bs-tooltip=""
                            title="Generated code will only have these selected functions">Exclusive Functions</label>
                        <div>
                            <select id="exclusivefunctions" class="w-100 selectpicker" multiple data-live-search="true"
                                data-size="10" data-actions-box="true" multiple title="Functions..." multiple
                                data-selected-text-format="count > 3">
                                {% for item in allfunctions %}
                                <option {% if item in defaultexclusivefunctions %} selected {% endif %}
                                    data-tokens="{{item}}">{{item}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group"><label data-toggle="tooltip" data-bs-tooltip=""
                            title="Generated code will not have these selected elements">Ignored Elements</label>
                        <div>
                            <select id="ignorelist" class="w-100 selectpicker" multiple data-live-search="true"
                                data-size="10" data-actions-box="true" multiple title="Elements..." multiple
                                data-selected-text-format="count > 3">
                                {% for item in sourcesandfunctions%}
                                <option {% if item in defaultignorelist %} selected {% endif %} data-tokens="{{item}}">
                                    {{item}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row h-auto">
                <div class="col-12 m-0 p-0">
                    <textarea id="text_area" class="code h-100 w-100" title="Code editor" spellcheck="false"
                        autocomplete="off" rows="12"
                        value="{% if code %}{{code}}{% endif %}">{% if code %}{{code}}{% endif %}</textarea>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 ml-0 control-panel">
            <div class="m-0 p-0" id="overlay"></div>

            <div id="preloader mx-auto">
                <div id="loader"></div>
            </div>
            <div class="row mt-3">
                <div class="col-6 text-center pr-0"><label class="col-form-label" data-toggle="tooltip"
                        data-bs-tooltip="" style="font-family: 'Noto Sans', sans-serif;"
                        title="Run and control Hydra in real time">Live Session Mode</label></div>
                <div class="col-6 text-center">
                    <div data-toggle="tooltip" data-placement="bottom"
                        title="Start a Live Session, where code can be written and executed in Hydra automatically"
                        class="m-0 p-0 custom-switch custom-switch-label-onoff ">
                        <input class="custom-switch-input " name="live_switch" id="live_switch" type="checkbox">
                        <label id="live_switch_label" class="custom-switch-btn" for="live_switch"></label>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-6 text-center pr-0"><label class="col-form-label" data-toggle="tooltip"
                        data-bs-tooltip="" style="font-family: 'Open Sans', sans-serif;"
                        title="Hide code in the Hydra window (In Live Session Mode)">Hide Code</label></div>
                <div class="col-6 text-center">
                    <div data-toggle="tooltip" data-placement="bottom" title="Hides or shows the code on Hydra"
                        class="m-0 p-0 custom-switch custom-switch-label-yesno button-sec">
                        <input class="custom-switch-input" name="hide_code_toggle" id="hide_code_toggle"
                            type="checkbox">
                        <label class="custom-switch-btn" for="hide_code_toggle"></label>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-6 text-center pr-0"><label class="col-form-label" data-toggle="tooltip"
                        data-bs-tooltip="" style="font-family: 'Open Sans', sans-serif;"
                        title="Automatically executes in Hydra the new generated code (In Live Session Mode)">Auto
                        Run</label></div>
                <div class="col-6 text-center">
                    <div class="m-0 p-0 custom-switch custom-switch-label-yesno button-sec">
                        <input class="custom-switch-input" name="auto_send_toggle" id="auto_send_toggle"
                            type="checkbox">
                        <label class="custom-switch-btn" for="auto_send_toggle"></label>
                    </div>
                </div>
            </div>
            <div class="row mt-4 text-center">
                <div class="col">
                    <div class="form-check custom-control custom-checkbox mb-1 custom-url-div">
                        <input class="form-check-input custom-control-input" type="checkbox" name="custom_url_toggle"
                            id="custom_url_toggle">
                        <label data-toggle="tooltip" data-bs-tooltip="" data-placement="top"
                            title="Lets you run a Live Session in a locally running Hydra"
                            class="form-check-label custom-control-label" for="custom_url_toggle">Custom URL</label>
                    </div>
                    <input class="bg-dark form-control-sm form-control w-75 mx-auto mb-4 text-secondary" type="url"
                        placeholder="https://localhost:8000" name="custom_url" id="custom_url"
                        value="https://localhost:8000" style="font-family: 'Open Sans', sans-serif;" disabled="">
                </div>
            </div>
            <div class="row mt-5 m-3 w-75 mx-auto">
                <div class="col m-0 p-0">
                    <div data-toggle="tooltip" data-bs-tooltip="" data-placement="top"
                        title="Generate new code with the parameters you set"
                        class="glow-hover button button-1 text-center mx-auto" name="generate_code" id="generate_code">
                        >_ Generate Code</div>
                </div>
            </div>
            <div class="row mt-4 m-3 w-75 mx-auto">
                <div class="col m-0 p-0">
                    <div data-toggle="tooltip" data-bs-tooltip="" data-placement="top"
                        title="Execute the code in Hydra (In Live Session Mode)"
                        class="disabled-button button button-1 text-center mx-auto" name="send_code" id="send_code">
                        Run in Hydra ></div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="live_session_mode" id="live_session_mode" value="0">
    <input type="hidden" name="hide_code_status" id="hide_code_status" value="0">
    <input type="hidden" name="auto_send_status" id="auto_send_status" value="0">
    <input type="hidden" name="elementslength" id="elementslength" value="{{sourcesandfunctions|length}}">
    <input type="hidden" name="defaulturl" id="defaulturl" value="{{defaulturl}}">
    <input type="hidden" name="csrf" id="csrf" value="{{ csrf_token }}">
</div>
<div class="footer-dark p-0 pt-3 pb-3">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col item social">
                    <a data-toggle="tooltip" data-bs-tooltip="" data-placement="left" title="Visit HCG Repository"
                        target="_blank" href="https://github.com/alecominotti/hydracodegenerator"><i
                            class="icon ion-social-github"></i></a>
                    <a data-toggle="tooltip" data-bs-tooltip="" data-placement="right" title="Me lol" target="_blank"
                        href="https://www.instagram.com/alecominotti/"><i class="icon ion-social-instagram"></i></a>
                </div>
            </div>
            <p class="copyright pt-2">Ale Cominotti - 2021</p>
        </div>
    </footer>
</div>

{% endblock %}